.breadcrumb {
  // scss-docs-start breadcrumb-css-vars
  --#{$prefix}breadcrumb-padding-x: #{$breadcrumb-padding-x};
  --#{$prefix}breadcrumb-padding-y: #{$breadcrumb-padding-y};
  --#{$prefix}breadcrumb-margin-x: #{$breadcrumb-margin-x};
  --#{$prefix}breadcrumb-margin-y: #{$breadcrumb-margin-y};
  @include rfs($breadcrumb-font-size, --#{$prefix}breadcrumb-font-size);
  --#{$prefix}breadcrumb-color: #{$breadcrumb-color};
  --#{$prefix}breadcrumb-item-padding-x: #{$breadcrumb-item-padding-x};

  --#{$prefix}breadcrumb-link-padding-x: #{$breadcrumb-link-padding-x};
  --#{$prefix}breadcrumb-link-padding-y: #{$breadcrumb-link-padding-y};
  --#{$prefix}breadcrumb-link-border-radius: #{$breadcrumb-link-border-radius};
  --#{$prefix}breadcrumb-hover-bg-color: #{$breadcrumb-hover-bg-color};
  --#{$prefix}breadcrumb-hover-color: #{$breadcrumb-hover-color};

  // scss-docs-end breadcrumb-css-vars

  box-sizing: border-box;
  margin: var(--#{$prefix}breadcrumb-margin-y)
    var(--#{$prefix}breadcrumb-margin-x);
  padding: var(--#{$prefix}breadcrumb-padding-y)
    var(--#{$prefix}breadcrumb-padding-x);
  color: var(--#{$prefix}breadcrumb-color);
  @include font-size(var(--#{$prefix}breadcrumb-font-size));
  list-style: none;

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: var(--#{$prefix}breadcrumb-margin-y)
      var(--#{$prefix}breadcrumb-margin-x);
    padding: var(--#{$prefix}breadcrumb-padding-y)
      var(--#{$prefix}breadcrumb-padding-x);
    list-style: none;
  }

  a {
    color: var(--#{$prefix}breadcrumb-color);
    transition: color 0.2s;
    padding: var(--#{$prefix}breadcrumb-link-padding-y)
      var(--#{$prefix}breadcrumb-link-padding-x);
    border-radius: var(--#{$prefix}breadcrumb-link-border-radius);
    display: inline-block;
    margin-inline: -4px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      color: var(--#{$prefix}breadcrumb-hover-color);
      background-color: var(--#{$prefix}breadcrumb-hover-bg-color);
    }
  }

  li:last-child {
    color: var(--#{$prefix}breadcrumb-hover-color);
  }
}

.breadcrumb-item {
  box-sizing: border-box;

  .breadcrumb-link {
    color: var(--#{$prefix}breadcrumb-color);
    transition: color 0.2s;
    padding: var(--#{$prefix}breadcrumb-link-padding-y)
      var(--#{$prefix}breadcrumb-link-padding-x);
    border-radius: var(--#{$prefix}breadcrumb-link-border-radius);
    display: inline-block;
    margin-inline: -4px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    > span {
      margin-inline-start: 4px;
    }
  }
}

.breadcrumb-separator {
  margin-inline: 8px;
  color: var(--#{$prefix}breadcrumb-color);
}
